  # Automatically run every time you deploy a new version of the application.
# Docs: http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html
# AWS-EB organizes python code under: /opt/python/
# current app is available under /opt/python/current/app (/opt/python/current is a link to /opt/python/bundle/${bundle_version}/)
# AWS-EB makes use of virtualenv and its location is: /opt/python/run/venv
# If you want to use a python shell with all the environment variable you are expecting you have to:
#    source /opt/python/run/venv/bin/activate  ---activates the virtual environ
#    source /opt/python/current/env   --loads up all the environment variables you did define via eb settings
files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: | 
      WSGIApplicationGroup %{GLOBAL}

# container_commands:
    # install ntlk-data
    # 10_install_ntlk_data:
        # command: "sudo python -m nltk.downloader -d /usr/local/share/nltk_data all" 